.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-envelope {
  width: 1.3330078125em;
}

.icon-partner-five {
  width: 1.3408203125em;
}

.icon-partner-four {
  width: 2.0234375em;
}

.icon-partner-one {
  width: 0.76953125em;
}

.icon-partner-six {
  width: 2.0888671875em;
}

.icon-partner-three {
  width: 1.3408203125em;
}

.icon-partner-two {
  width: 1.0712890625em;
}

.icon-smartphone {
  width: 0.625em;
}
