.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: var(--transition-root-duration);
  transition-timing-function: var(--transition-root-timing);
&:hover, &:focus {
    background-color: #2196f3;
    fill: var(--white-color);
  }
}


