.button {
  font-family: inherit;
  @include font(700, 16px, calc(30 / 16), 0.06em);
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 216px;
  transition-property: background-color;
  @extend %transition;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
