.contacts__contact {
  color: var(--primary-text-color);
  transition-property: color;
  @extend %transition;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__item .contacts__contact {
  @include desktop {
    display: flex;
    align-items: center;
    padding: 32px 0px;
  }
}
