:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-our-team: #f5f4fa;
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --portfolio-works: #eeeeee;
  --us-distance: 94px;
  --transition-root-duration: 250ms;
  --transition-root-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}
